<div style="width:70%;margin:40px auto">
  <h1>Listado de Sucursales</h1>
  
  <button mat-raised-button color="primary" (click)="openDialogAddEdit()">Nueva Sucursal</button>
  
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite la palabra y/o número por el cual desea buscar" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="branchCode">
        <th mat-header-cell *matHeaderCellDef> Código Sucursal </th>
        <td mat-cell *matCellDef="let element"> {{element.branchCode}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="branchDescription">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.branchDescription}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="branchAddress">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.branchAddress}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="branchId">
        <th mat-header-cell *matHeaderCellDef> Identificación </th>
        <td mat-cell *matCellDef="let element"> {{element.branchId}} </td>
      </ng-container>

      <ng-container matColumnDef="branchDateCreation">
        <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
        <td mat-cell *matCellDef="let element"> {{element.branchDateCreation}} </td>
      </ng-container>


      <ng-container matColumnDef="currencyName">
        <th mat-header-cell *matHeaderCellDef> Moneda </th>
        <td mat-cell *matCellDef="let element"> {{element.currencyName}} </td>
      </ng-container>


      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef style="width: 150px;">  </th>
        <td mat-cell *matCellDef="let element"> 

            <button mat-icon-button color="primary" (click)="openDialogEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>


            <button mat-icon-button color="warn" (click)="openDialogDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>

         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Seleccione la página del listado de sucursales">
    </mat-paginator>
  </div>
</div>